*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    padding:30px;
    background-color:orange;
}
body{
    font-size:1rem;
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:100px auto;
}
.country{
    /* border:1px solid #333; */
    display:flex;
    flex-direction: row;
    min-height:50vh;
    min-width:50vw;
    margin:30px 0;
    gap:30px;
}

.display{
    margin:30px 50px;
}

#btn{
    padding:15px 30px;
    background-color: green;
    color:white;
    cursor: pointer;
    font-weight: bold;
    font-size:18px;
    border:1px solid green;
    margin:50px auto;
}